html, body {
  overflow: hidden;
  text-align: center;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  color: #3f3f3f;
  font-size: 1rem;
}

a {
	color: #10245b;
}

.viz {
	margin: 1rem;
}

#arrows {
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 1rem;
  border-collapse: separate;
}

#social {
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.5rem;
  border-collapse: separate;
}
